body {
  background: #111;
  color: white;
  text-align: center;
  font-family: Arial;
}

.scene {
  width: 300px;
  height: 300px;
  margin: 100px auto;
  perspective: 1000px;
}

.carousel {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
}

.carousel img {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 50px;
  top: 50px;
}
